In [141]:
import pandas as pd
import numpy as np

data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [142]:
data = data.drop(columns = ["Name","Cabin"])
test = test.drop(columns = ["Name","Cabin"])
data

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [143]:
data=data.replace('TRAPPIST-1e',0)
data=data.replace('55 Cancri e',1)
data=data.replace('PSO J318.5-22',2)
data=data.replace('Europa',0)
data=data.replace('Earth',1)
data=data.replace('Mars',2)

In [144]:
test=test.replace('Europa',0)
test=test.replace('Earth',1)
test=test.replace('Mars',2)
test=test.replace('TRAPPIST-1e',0)
test=test.replace('55 Cancri e',1)
test=test.replace('PSO J318.5-22',2)

In [145]:
test=test.fillna(test.mean())

In [146]:
 #data=data['Age','RoomService','FoodCourt','Spa','VRDeck','ShoppingMall'].fillna(data.mean(),inplace = True)
data['Age']=data["Age"].fillna(data['Age'].mean())
data['RoomService']=data["RoomService"].fillna(data['RoomService'].mean())
data['FoodCourt']=data["FoodCourt"].fillna(data['FoodCourt'].mean())
data['Spa']=data["Spa"].fillna(data['Spa'].mean())
data['VRDeck']=data["VRDeck"].fillna(data['VRDeck'].mean())
data['ShoppingMall']=data["ShoppingMall"].fillna(data['ShoppingMall'].mean())
data['HomePlanet']=data["HomePlanet"].fillna(1)
data['Destination']=data['Destination'].fillna(0)
data['CryoSleep']=data['CryoSleep'].fillna(0)
data['VIP']=data['VIP'].fillna(0)
data['Transported']=data['Transported'].fillna(0)
data

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,0.0,False,0.0,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,1.0,False,0.0,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,0.0,False,0.0,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,0.0,False,0.0,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,1.0,False,0.0,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0.0,False,1.0,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,1.0,True,2.0,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,1.0,False,0.0,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,0.0,False,1.0,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,0.0,False,0.0,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [147]:
test['Age']=test["Age"].fillna(test['Age'].mean())
test['RoomService']=test["RoomService"].fillna(test['RoomService'].mean())
test['FoodCourt']=test["FoodCourt"].fillna(test['FoodCourt'].mean())
test['Spa']=test["Spa"].fillna(test['Spa'].mean())
test['VRDeck']=test["VRDeck"].fillna(test['VRDeck'].mean())
test['ShoppingMall']=test["ShoppingMall"].fillna(test['ShoppingMall'].mean())
test['HomePlanet']=test["HomePlanet"].fillna(1)
test['Destination']=test['Destination'].fillna(0)
test['CryoSleep']=test['CryoSleep'].fillna(0)
test['VIP']=test['VIP'].fillna(0)

In [148]:
X = data.drop(columns=['Transported'])
Y=data['Transported']

In [149]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

rf.fit(X,Y);

In [150]:
predictions = rf.predict(test)
predictions

array([0.572, 0.097, 1.   , ..., 0.986, 0.725, 0.396])

In [151]:
predictions=np.round(predictions)

In [152]:
from google.colab import files


df = pd.DataFrame(data={'PassengerId': test['PassengerId'], 'Transported':  predictions })
df.to_csv('dataframe.csv')

files.download('dataframe.csv')